:root {
  --pre: #f8f4e1;
  --sec: #391a05;
  --tri1: #feba17;
  --tri2: #74512d;
  --black: black;
}

@font-face {
  font-family: aeonik;
  src: url(./aeonik.ttf);
}

@font-face {
  font-family: aeonik2;
  src: url(./AeonikTRIAL-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--pre);
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  min-height: 110vh;
  width: 100%;
  background-color: var(--sec);
}


section.allElems {
  gap: 2vw;
  width: 100%;
  padding: 0 2vw;
  padding-top: 1vw;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
}

header {
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  border-radius: 1vw;
  justify-content: space-between;
  padding: 2vw;
}

header .header1 h1 {
  font-size: 5vw;
  font-weight: 700;
  margin-bottom: 1vw;
}

header .header1 input {
  background-color: transparent;
  border: none;
  color: var(--pre);
  background-color: #ffffff48;
  padding: 0.4vw 1vw;
  font-size: 1vw;
  outline: none;
  text-transform: capitalize;
}

header .header1 h2 {
  font-size: 2.5vw;
  margin-left: 0.4vw;
  font-weight: 500;
}

header .header1 h4 {
  font-size: 2vw;
  margin-top: 1vw;
  font-weight: 500;
}

header .header2 h2 {
  font-size: 4vw;
  font-family: aeonik2;
}

header .header2 h4 {
  font-size: 1.8vw;
  font-weight: 600;
  margin-bottom: 2vw;
}

header .header2 h3 {
  font-size: 1.3vw;
  font-weight: 500;
  opacity: 0.8;
}

.allElems .all-features {
  display: flex;
  align-items: flex-start;
  gap: 2vw;
}

.elem {
  height: 42vh;
  width: 17.4vw;
  border-radius: 0.5vw;
  overflow: hidden;
  position: relative;
  transition: all ease 0.25s;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.elem h2 {
  position: absolute;
  bottom: 4%;
  font-weight: 400;
  font-size: 1.6vw;
  right: 5%;
}

.elem:active {
  scale: 0.97;
}

.fullElem {
  height: 100%;
  width: 100%;
  top: 0;
  background-color: var(--sec);
  padding: 1.9vw;
  display: none;
  z-index: 10;
  position: fixed;
}

.back {
  position: absolute;
  padding: 0.9vw 1.3vw;
  border-radius: 0.7vw;
  background-color: var(--tri2);
  border: none;
  right: 5%;
  font-size: 1.2vw;
  font-weight: 400;
  cursor: pointer;
}

.back:active {
  scale: 0.97;
}

.todo-list-fullpage h2 {
  font-size: 3.87vw;
}

.todo-list-fullpage .todo-container {
  height: 80%;
  width: 100%;
  margin-top: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask {
  width: 33%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 1.4vw;
}

.todo-list-fullpage .todo-container .allTask {
  width: 65%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 1.4vw;
}

.todo-list-fullpage .todo-container .addTask form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.6vw;
}

.todo-container .addTask form #task-input {
  padding: 0.7vw 1.2vw;
  width: 100%;
  outline: none;
  color: var(--sec);
  margin-bottom: 1vw;
  background-color: var(--pre);
  font-size: 1.6vw;
  border-radius: 0.3vw;
  border: none;
}

.todo-container .addTask form textarea {
  padding: 0.7vw 1.2vw;
  width: 100%;
  height: 60vh;
  outline: none;
  margin-bottom: 1vw;
  background-color: var(--pre);
  font-size: 1.6vw;
  border-radius: 0.3vw;
  border: none;
  color: var(--sec);
}

.todo-container .addTask form button {
  padding: 0.6vw 1.2vw;
  width: 100%;
  outline: none;
  margin-bottom: 2vw;
  background-color: var(--tri1);
  font-size: 1.6vw;
  font-weight: 700;
  border-radius: 0.3vw;
  border: none;
  transition: all ease 0.2s;
  cursor: pointer;
}

.todo-container .addTask form button:active {
  scale: 0.97;
}

.todo-list-fullpage .todo-container .allTask {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.6vw;
  overflow: auto;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--pre);
  padding: 1vw 2vw;
  border-radius: 0.8vw;
  margin-bottom: 0.5vw;
  position: relative;
}

.task summary {
  color: var(--sec);
  font-size: 1.5vw;
  display: flex;
  align-items: flex-start;
  gap: 0.5vw;
  cursor: pointer;
  text-decoration: underline;
}

.task summary span {
  background-color: var(--tri1);
  border-radius: 4vw;
  padding: 4px 8px;
  font-size: 0.7vw;
}

.task summary span.true {
  opacity: 1;
}

.task summary span.false {
  opacity: 0;
}

.task button {
  background-color: var(--tri2);
  padding: 1vw 1.5vw;
  cursor: pointer;
  border-radius: 1vw;
  border: none;
  font-size: 1vw;
  font-weight: 600;
}

.task button:active {
  scale: 0.97;
}

.mark-imp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0.5vw;
  margin-bottom: 0.7vw;
  gap: 2vw;
}

.mark-imp input {
  scale: 1.5;
}

.mark-imp label {
  font-size: 1vw;
}

details {
  color: var(--sec);
  width: 70%;
}

details p {
  color: var(--sec);
}

.daily-planner-fullpage h2 {
  font-size: 3.8vw;
}

.daily-planner-fullpage .day-planner {
  height: 85%;
  width: 100%;
  background-color: var(--tri2);
  margin-top: 2vw;
  border-radius: 0.5vw;
  padding: 1.5vw;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* 
.daily-planner-fullpage .day-planner::-webkit-scrollbar {
  background-color: var(--pre);
  border-radius: 10vw;
}

.daily-planner-fullpage .day-planner::-webkit-scrollbar-thumb {
  background-color: var(--sec);
  border-radius: 10vw;
} */

.daily-planner-fullpage .day-planner .day-planner-time {
  display: flex;
  align-items: center;
  position: relative;
  width: 49%;
  margin-bottom: 0.8vw;
}

.day-planner .day-planner-time p {
  position: absolute;
  top: 12%;
  left: 2.4%;
  font-size: 1vw;
  color: var(--tri1);
}

.day-planner .day-planner-time input {
  background-color: var(--sec);
  padding: 1.2vw 2.5vw;
  width: 100%;
  font-size: 1.5vw;
  border: none;
  border-radius: 5px;
  outline: none;
  padding-top: 1.9vw;
}

.motivation-fullpage-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.motivational-fullpage .motivational-container {
  height: 60vh;
  width: 80%;
  position: relative;
  border-radius: 3vw;
}

.motivational-fullpage .motivational-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--tri2);
  border-radius: 3.2vw;
  scale: 1.15;
  filter: blur(50px);
  z-index: 8;
}

.motivational-fullpage .motivational-container .motivational-wrapper {
  width: 100%;
  position: absolute;
  background-color: var(--sec);
  z-index: 10;
  border-radius: 2.5vw;
  padding: 1vw;
  border: 10px solid var(--tri2);
  border-radius: 1.6vw;
}

.motivation-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.motivation-1 h2 {
  padding: 1vw;
  width: fit-content;
  background-color: var(--tri2);
  border-radius: 1.2vw;
  font-size: 2vw;
  text-shadow: 1px 5px 3px var(--sec);
  text-align: right;
}

.motivation-2 {
  padding: 0.5vw;
  margin-top: 2vw;
}

.motivation-2 h1 {
  font-size: 2.5vw;
  font-weight: 700;
  text-shadow: -3px -4px 10px var(--tri2);
}

.motivation-3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3vw;
}

.motivation-3 h2 {
  padding: 1vw;
  width: fit-content;
  background-color: var(--tri2);
  border-radius: 1.2vw;
  font-family: cursive;
  font-size: 2vw;
  text-shadow: -3px 3px 3px var(--sec);
  text-align: right;
}

.motivational-fullpage .motivational-container .motivational-wrapper img {
  position: absolute;
  right: 5%;
  top: 5%;
  height: 5vw;
  opacity: 0.3;
}

.pomodoro-fullpage h2 {
  font-size: 4vw;
}

.pomodoro-fullpage .pomo-timer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pomo-timer h1 {
  font-size: 10vw;
}

.pomo-timer button {
  background-color: var(--tri2);
  padding: 1vw 3vw;
  font-size: 1.5vw;
  margin: 1vw;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 3px var(--black);
  cursor: pointer;
  transition: all ease 0.2s;
  font-weight: 700;
}

.pomo-timer button:active {
  scale: 0.97;
  box-shadow: 0px 0px 0px var(--black);
  opacity: 0.8;
}

.pomodoro-fullpage .session {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1vw 2vw;
  font-size: 1.5vw;
  background-color: var(--tri1);
  border-radius: 1vw;
}

.daily-goals-fullpage .goals-container {
  height: 85%;
  width: 90%;
  margin: 3vw 5vw;
  background-color: var(--tri2);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vw 2vw;
  border-radius: 2vw;
  box-shadow: 0px 0px 40px var(--tri2);
}

.daily-goals-fullpage .goals-container .addGoal {
  width: 90%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5vw;
  background-color: var(--sec);
  box-shadow: 0px 0px 20px var(--sec);
  border: 4px solid var(--tri2);
}

.daily-goals-fullpage .goals-container .addGoal form {
  display: flex;
  width: 100%;
  padding: 1vw 2vw;
  justify-content: space-between;
}

.goals-container .addGoal form textarea {
  padding-top: 1.5vw;
  padding-left: 1vw;
  width: 73%;
  outline: none;
  color: var(--sec);
  background-color: var(--pre);
  font-size: 1.6vw;
  border-radius: 0.3vw;
  border: none;
}

.goals-container .addGoal form button {
  padding: 1.5vw 1.2vw;
  width: 25%;
  outline: none;
  background-color: var(--tri1);
  font-size: 1.6vw;
  font-weight: 700;
  border-radius: 0.3vw;
  border: none;
  transition: all ease 0.2s;
  cursor: pointer;
}

.goals-container .addGoal form button:active {
  scale: 0.97;
}

.daily-goals-fullpage .goals-container .allGoal {
  width: 90%;
  height: 70%;
  border-radius: 1.5vw;
  background-color: var(--sec);
  box-shadow: 0px 0px 20px var(--sec);
  border: 4px solid var(--tri2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.6vw;
  overflow: auto;
}

.daily-goals-fullpage .goals-container .allGoal::-webkit-scrollbar {
  display: none;
}

.goal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--pre);
  padding: 1vw 1vw;
  border-radius: 0.8vw;
  margin-bottom: 0.5vw;
  position: relative;
}

.goal p {
  width: 74%;
  font-size: 1.5em;
  color: var(--sec);
}

.goal button {
  white-space: nowrap;
  padding: 0.9vw 1.2vw;
  background-color: var(--sec);
  border-radius: 1vw;
  border: none;
  font-size: 1vw;
  font-weight: 900;
  cursor: pointer;
}

.goal button:active {
  scale: 0.97;
}

nav {
  width: 100%;
  padding: 1vw 2vw;
  padding-top: 1.8vw;
  z-index: 9;
}

.nav-inner {
  display: flex;
  background-color: var(--pre);
  align-items: center;
  justify-content: space-between;
  padding: 1.5vw 2vw;
  border-radius: 0.8vw;
}

.nav-inner h2 {
  font-size: 2vw;
  font-weight: 700;
  color: var(--sec);
}

.theme {
  background-color: var(--sec);
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  transition: all ease 0.2s;
}

.theme h4 {
  color: var(--pre);
  font-size: 1.2vw;
  pointer-events: none;
  font-family: aeonik2;
}

.theme:active {
  scale: 0.95;
}

@media (max-width: 660px) {
  header {
    padding: 4vw 2vw;
    margin: 1vw;
  }

  header .header1 h1 {
    margin-top: 2vw;
    font-size: 5vw;
  }

  header .header1 input {
    padding: 1vw 2vw;
    font-size: 3vw;
    margin-top: 2vw;
  }

  header .header1 h2 {
    font-size: 5vw;
  }

  header .header1 h4 {
    font-size: 5vw;
    margin-top: 2vw;
    font-weight: 300;
  }

  header .header2 h2 {
    font-size: 7vw;
    margin-bottom: 2vw;
  }

  header .header2 h4 {
    font-size: 4vw;
    font-weight: 400;
    margin-top: -2vw;
  }

  header .header2 h3 {
    font-size: 3vw;
    font-weight: 500;
    margin-top: 1.5vw;
  }

  .allElems .all-features {
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;
    padding: 2vw 0;
  }

  .elem {
    height: 40vh;
    width: 46%;
    border-radius: 2vw;
  }

  .elem h2 {
    font-size: 5vw;
    text-align: right;
  }

  nav {
    padding: 1vw 3.1vw;
    padding-top: 3vw;
  }

  .nav-inner {
    padding: 3vw 2vw;
  }

  .nav-inner h2 {
    font-size: 5vw;
  }

  .theme h4 {
    font-size: 2.2vw;
  }

  .fullElem {
    padding: 5vw 3vw;
  }

  .back {
    padding: 1vw 2vw;
    font-size: 3vw;
  }

  .todo-list-fullpage h2 {
    font-size: 5vw;
  }

  .todo-list-fullpage .todo-container {
    min-height: 95%;
    margin-top: 5vw;
    flex-direction: column;
    gap: 3vw;
  }

  .todo-list-fullpage .todo-container .addTask {
    width: 100%;
    height: 60%;
  }

  .todo-list-fullpage .todo-container .allTask {
    width: 100%;
  }

  .todo-list-fullpage .todo-container .addTask form {
    height: 100%;
    gap: 2vw;
    padding: 3vw;
  }

  .todo-container .addTask form #task-input {
    padding: 2vw;
    font-size: 4vw;
  }

  .todo-container .addTask form textarea {
    padding: 3vw;
    font-size: 4vw;
  }

  .todo-container .addTask form button {
    padding: 2vw 2vw;
    font-size: 4vw;
  }

  .todo-list-fullpage .todo-container .allTask {
    padding: 3vw;
  }

  .task {
    padding: 2vw;
    margin-bottom: 1.5vw;
  }

  .task summary {
    font-size: 4vw;
    gap: 1vw;
  }

  .task summary span {
    background-color: var(--tri1);
    border-radius: 4vw;
    padding: 4px 8px;
    font-size: 2vw;
  }

  .task button {
    padding: 2vw;
    font-size: 2vw;
    white-space: nowrap;
  }

  .mark-imp input {
    scale: 2;
    margin-left: 1vw;
  }

  .mark-imp label {
    font-size: 3vw;
  }

  .daily-planner-fullpage h2 {
    font-size: 4vw;
  }

  .daily-planner-fullpage .day-planner {
    padding: 3vw 0vw;
    margin-top: 10%;
    justify-content: center;
  }

  .daily-planner-fullpage .day-planner .day-planner-time {
    width: 90%;
    margin-bottom: 1.8vw;
  }

  .day-planner .day-planner-time p {
    font-size: 3vw;
  }

  .day-planner .day-planner-time input {
    padding: 3vw;
    padding-top: 6vw;
    font-size: 4vw;
  }

  .motivational-fullpage .motivational-container .motivational-wrapper {
    padding: 3vw;
  }

  .motivation-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .motivation-1 h2 {
    padding: 2vw 3vw;
    font-size: 4vw;
  }

  .motivation-2 {
    padding: 3vw 4vw;
  }

  .motivation-2 h1 {
    font-size: 5vw;
  }

  .motivation-3 h2 {
    padding: 2vw 3vw;
    font-size: 3vw;
  }

  .motivational-fullpage .motivational-container .motivational-wrapper img {
    height: 7vw;
  }

  .pomodoro-fullpage h2 {
    font-size: 7vw;
  }

  .pomodoro-fullpage .pomo-timer {
    width: 100%;
  }

  .pomo-timer h1 {
    font-size: calc(8vh + 10vw);
  }

  .pomo-timer button {
    padding: 2vw 4vw;
    font-size: 5vw;
    margin: 1.5vw;
  }

  .pomodoro-fullpage .session {
    top: 17%;
    padding: 3vw 5vw;
    font-size: 5vw;
  }

  .daily-goals-fullpage .goals-container .addGoal {
    width: 95%;
  }

  .goals-container .addGoal form textarea {
    padding-top: 5vw;
    padding-left: 2vw;
    font-size: 4vw;
  }

  .goals-container .addGoal form button {
    font-size: 5vw;
  }

  .daily-goals-fullpage .goals-container .allGoal {
    width: 95%;
    padding: 2vw;
  }

  .goal {
    padding: 2vw;
  }

  .goal p {
    font-size: 3vw;
  }

  .goal button {
    white-space: wrap;
    padding: 1.5vw 0;
    font-size: 2.5vw;
    font-weight: 100;
  }
}
