:root {
  --pri: #f8f4e1;
  --sec: #381c0a;
  --tri1: #feba17;
  --tri2: #74512d;
  --red: red;
  --green: rgb(9, 138, 89);
  --blue: rgb(0, 191, 255);
  --black: black;
}

@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(assets/fonts/Aeonik-Light.ttf);
}

@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(assets/fonts/fonnts.com-Aeonik-Regular.ttf);
}

@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url(assets/fonts/fonnts.com-Aeonik-Bold.ttf);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--pri);
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  overflow: auto;
}

main::-webkit-scrollbar {
  display: none;
}
nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--tri2);
}

section.allElems {
  gap: 2em;
  width: 100%;
  padding: 1.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
}

header {
  height: 30vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  border-radius: 1em;
  justify-content: space-between;
  padding: 2em;
}

header .header1 h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1vw;
}

header .header1 input {
  background-color: transparent;
  border: none;
  color: var(--pre);
  background-color: #ffffff48;
  padding: 1em 2em;
  border-radius: 5px;
  font-size: 0.6em;
  outline: none;
  text-transform: capitalize;
}

header .header1 h2 {
  font-size: 1.5em;
  margin-left: 0.4vw;
  font-weight: 500;
}

header .header1 h4 {
  font-size: 1.3em;
  margin-top: 1vw;
  font-weight: 500;
}

header .header2 h2 {
  font-size: 2.5em;
  font-family: aeonik2;
}

header .header2 h4 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 2vw;
}

header .header2 h3 {
  font-size: 1em;
  font-weight: 500;
  opacity: 0.8;
}

.allElems .allFeatures {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 17px;
}

.elem {
  background-color: var(--tri1);
  font-size: 30px;
  height: 350px;
  width: 265px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.2s;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.492);
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.elem h2 {
  position: absolute;
  bottom: 4%;
  right: 5%;
  font-weight: 500;
  font-size: 33px;
}

.elem:active {
  scale: 0.97;
}

.fullElem {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  padding: 20px;
  font-size: 60px;
  display: none;
  position: absolute;
}

.back {
  position: absolute;
  right: 5%;
  background-color: var(--red);
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 25px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.back:active {
  scale: 0.97;
}

.todo-list-fullpage h5 {
  font-size: 40px;
}

.todo-list-fullpage .todo-container {
  height: 80%;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask {
  width: 33%;
  background-color: var(--tri2);
  height: 100%;
  border-radius: 20px;
}

.todo-list-fullpage .todo-container .allTask {
  width: 65%;
  background-color: var(--tri2);
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}

.todo-list-fullpage .todo-container .allTask::-webkit-scrollbar {
  display: none;
}

.todo-list-fullpage .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 10px;
}

.todo-container .addTask form #task-input {
  padding: 15px 25px;
  width: 100%;
  font-size: 29px;
  border-radius: 5px;
  background-color: var(--pri);
  color: var(--sec);
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-weight: 500;
}

.todo-list-fullpage .todo-container .addTask form textarea {
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
}

.todo-list-fullpage .todo-container .addTask form button {
  padding: 10px 25px;
  width: 100%;
  font-size: 25px;
  background-color: var(--tri1);
  border-radius: 5px;
  border: none;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: all ease 0.3s;
}

.todo-list-fullpage .todo-container .addTask form button:active {
  scale: 0.96;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
  background-color: var(--pri);
  padding: 20px 40px;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

.task h5 {
  color: var(--sec);
  font-size: 30px;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.task p {
  color: var(--sec);
  font-size: 10px;
  position: absolute;
  left: 40px;
  bottom: 15px;
  gap: 5px;
}

.task h5 span {
  background-color: var(--red);
  color: var(--pri);
  padding: 4px 8px;
  border-radius: 50px;
  font-size: 11px;
}

.task h5 span.true {
  opacity: 1;
}

.task h5 span.false {
  opacity: 0;
}

.task button {
  padding: 15px 30px;
  color: var(--pri);
  background-color: var(--green);
  font-size: 18px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}

.task button:active {
  scale: 0.96;
}

.mark-imp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 10px;
  margin-bottom: 20px;
  width: 100%;
  gap: 30px;
}

.mark-imp input {
  scale: 1.7;
}

.mark-imp label {
  font-size: 21px;
}

.daily-planner-fullpage h5 {
  font-size: 40px;
}

.daily-planner-fullpage .day-planner {
  background-color: var(--tri2);
  height: 85%;
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: auto;
  justify-content: space-between;
}

.daily-planner-fullpage .day-planner::-webkit-scrollbar {
  display: none;
}

.daily-planner-fullpage .day-planner .day-planner-time {
  display: flex;
  align-items: center;
  position: relative;
  width: 45%;
  margin-bottom: 15px;
}

.day-planner .day-planner-time p {
  position: absolute;
  top: 12%;
  left: 2%;
  color: var(--tri1);
  font-size: 16px;
}

.day-planner .day-planner-time input {
  padding: 20px 45px;
  width: 100%;
  background-color: var(--sec);
  border-radius: 5px;
  border: none;
  font-size: 35px;
  padding-top: 34px;
  outline: none;
}

.motivation-fullpage {
  position: relative;
  overflow: auto;
}

.motivation-fullpage::-webkit-scrollbar {
  display: none;
}

.motivation-fullPage-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.motivation-fullpage .motivation-container {
  height: 50%;
  width: 70%;
  border-radius: 50px;
  position: relative;
}

.motivation-fullpage .motivation-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--tri1);
  border-radius: 50px;
  scale: 1.15;
  filter: blur(100px);
  z-index: 8;
}

.motivation-fullpage .motivation-container .motivation-wrapper {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: var(--tri1);
  border-radius: 30px;
  padding: 17px;
  border: 6px solid var(--tri2);
}

.motivation-fullpage .motivation-container .motivation-wrapper img {
  position: absolute;
  right: 5%;
  opacity: 0.3;
  top: 1%;
  height: 120px;
}

.motivation-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.motivation-1 h2 {
  font-size: 20px;
  font-weight: 600;
  background-color: var(--tri2);
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  width: fit-content;
  font-weight: 500;
}

.motivation-2 {
  padding: 30px;
  margin-top: 12px;
  /* margin-bottom: 10px; */
}

.motivation-2 h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--sec);
}

.motivation-3 {
  /* margin-top: 10px; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.motivation-3 h2 {
  background-color: var(--tri2);
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  width: fit-content;
  font-weight: 500;
}

.pomodoro-fullpage {
  position: relative;
}

.pomodoro-fullpage h2 {
  font-size: 50px;
}

.pomodoro-fullpage .pomo-timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pomo-timer h1 {
  font-size: 100px;
}

.pomo-timer button {
  background-color: var(--tri2);
  padding: 15px 30px;
  font-size: 30px;
  font-weight: 700;
  margin: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 7px 7px 0px var(--black);
  transition: all ease 0.2s;
}

.pomo-timer button:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 0px var(--black);
}

.pomodoro-fullpage .session {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--green);
  padding: 15px 30px;
  font-size: 30px;
  border-radius: 10px;
}

.daily-goals-fullpage .goals-container {
  height: 85%;
  width: 90%;
  margin: 3vw 5vw;
  background-color: var(--tri2);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vw 2vw;
  border-radius: 2vw;
  box-shadow: 0px 0px 40px var(--tri2);
}

.daily-goals-fullpage {
  overflow: auto;
}

.daily-goals-fullpage h1 {
  font-size: 70px;
}

.daily-goals-fullpage::-webkit-scrollbar {
  display: none;
}

.daily-goals-fullpage .goals-container .addGoal {
  width: 90%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5vw;
  background-color: var(--sec);
  box-shadow: 0px 0px 20px var(--sec);
  border: 4px solid var(--tri2);
}

.daily-goals-fullpage .goals-container .addGoal form {
  display: flex;
  width: 100%;
  padding: 1vw 2vw;
  justify-content: space-between;
}

.goals-container .addGoal form textarea {
  padding-top: 1.5vw;
  padding-left: 1vw;
  width: 73%;
  outline: none;
  color: var(--pri);
  background-color: var(--pri);
  font-size: 2vw;
  border-radius: 0.3vw;
  border: none;
}

.goals-container .addGoal form button {
  padding: 1.5vw 1.2vw;
  width: 25%;
  outline: none;
  background-color: var(--tri1);
  font-size: 1.6vw;
  font-weight: 700;
  border-radius: 0.3vw;
  border: none;
  transition: all ease 0.2s;
  cursor: pointer;
}

.goals-container .addGoal form button:active {
  scale: 0.97;
}

.daily-goals-fullpage .goals-container .allGoal {
  width: 90%;
  height: 70%;
  border-radius: 1.5vw;
  background-color: var(--sec);
  box-shadow: 0px 0px 20px var(--sec);
  border: 4px solid var(--tri2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.6vw;
  overflow: auto;
}

.daily-goals-fullpage .goals-container .allGoal::-webkit-scrollbar {
  display: none;
}

.daily-goals-fullpage .goals-container .allGoal::-webkit-scrollbar {
  display: none;
}

.goal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--tri2);
  padding: 1vw 1vw;
  border-radius: 0.8vw;
  margin-bottom: 0.5vw;
  position: relative;
}

.goal p {
  width: 74%;
  font-size: 2vw;
  color: white;
}

.goal button {
  white-space: nowrap;
  padding: 1vw 2vw;
  background-color: var(--sec);
  border-radius: 1vw;
  border: none;
  font-size: 2vw;
  font-weight: 900;
  cursor: pointer;
}

.goal button:active {
  scale: 0.97;
}
